<!-- Main Footer -->
<footer class="main-footer">
  <strong>Copyright &copy; 2021
    <a href="https://www.linkedin.com/in/ahmed-mahmoud-609b951a5/" target="_blank">Ahmed Mahmoud</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block"><b>Version</b> 0.0.1</div>
</footer>