<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">Shopping Cart</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="pt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/dashboard/products" class="nav-link" id="prodcuts-link">
            <i class="nav-icon fas fa-shopping-bag"></i>
            <p> Products <i class="fas fa-angle-right right"></i> </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard/orders" class="nav-link" id="orders-link">
            <i class="nav-icon fas fa-store"></i>
            <p> Orders <i class="fas fa-angle-right right"></i> </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<% if(typeof screen_code !== 'undefined') { %>
<script>
  $('.sidebar').ready(function() {
    const code = "<%= screen_code %>"
    if (code.length === 0) return;
    if (code.includes('product')) {
      $('#prodcuts-link').addClass('active')
    } else if (code.includes('order')) {
      $('#orders-link').addClass('active')
    }
  })
</script>
<%}%>



<!-- <li class="nav-header">EXAMPLES</li>
<li class="nav-item">
  <a href="pages/calendar.html" class="nav-link">
    <i class="nav-icon fas fa-calendar-alt"></i>
    <p>
      Calendar
      <span class="badge badge-info right">2</span>
    </p>
  </a>
</li>
<li class="nav-header">MISCELLANEOUS</li>
<li class="nav-item">
  <a href="iframe.html" class="nav-link">
    <i class="nav-icon fas fa-ellipsis-h"></i>
    <p>Tabbed IFrame Plugin</p>
  </a>
</li>
<li class="nav-item">
  <a href="https://adminlte.io/docs/3.1/" class="nav-link">
    <i class="nav-icon fas fa-file"></i>
    <p>Documentation</p>
  </a>
</li>
<li class="nav-header">MULTI LEVEL EXAMPLE</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="fas fa-circle nav-icon"></i>
    <p>Level 1</p>
  </a>
</li>
<li class="nav-header">LABELS</li>
<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon far fa-circle text-danger"></i>
    <p class="text">Important</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon fas fa-edit"></i>
    <p>
      Forms
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="pages/forms/general.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>General Elements</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="pages/forms/advanced.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Advanced Elements</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="pages/forms/editors.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Editors</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="pages/forms/validation.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Validation</p>
      </a>
    </li>
  </ul>
</li> -->