<!-- Content Header (Page header) -->
<%- include('./partials/content/content_header.ejs', { title: "Home" }) %>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <h1>Hello world</h1>

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->