<!-- Content Header (Page header) -->
<%- include('../partials/content/content_header.ejs', { title: "Add New Product" }) %>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <form action="/dashboard/products/create" enctype="multipart/form-data" method="POST">

                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" id="inputName" class="form-control" name="name">
                        </div>

                        <div class="form-group">
                            <label for="inputEstimatedBudget">Price</label>
                            <input type="number" id="inputEstimatedBudget" class="form-control" name="price">
                        </div>


                        <div class="form-group" id="image_upload_group">
                            <label for="inputEstimatedBudget">Image</label>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept=".jpg, .jpeg, .png">
                                    <label class="custom-file-label" for="inputGroupFile01" id="upload_label">Choose file</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <input type="submit" value="Create" class="btn btn-primary float-right">
                        <a onclick="window.history.back();" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>

            </form>


        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->

    <script>
        //* Display a preview if the picked image
        const uploadGroup = document.getElementById('image_upload_group')
        const imageInputElement = document.getElementById('inputGroupFile01')

        imageInputElement.addEventListener('change', function() {
            const file = imageInputElement.files[0]
            const fileName = file.name
            event.preventDefault();
            document.getElementById('upload_label').innerHTML = fileName

            const img = document.createElement('img')
            img.src = URL.createObjectURL(file)
            img.setAttribute('width', '10%')

            uploadGroup.appendChild(img)
        })
    </script>